 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;
}

body {
  height: 100vh;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 6vw;
  background-color: var(--green);
  overflow-x:hidden;
  overflow-y:auto;
  transition: all ease 0.5s;
}

.container {
  width: 100%;
  margin: 26px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 30px 30px;
}

.img-icone {
  display: none;
  margin-right: 90px;
}

.header button {
  background-color: transparent;
  border: transparent;
}

.header img, .menu, .footer img {
  cursor: pointer;
}

.menu {
  margin: 0 15px 8px 15px;
}

.menu {
  display: flex;
  align-items: center;
  padding: 14px 9px;
  border-radius: 12px;
}

.active {
  background-color: var(--light-grey);
}

.texto {
  display: none;
  margin-left: 10px;
  font-size: .9rem;
  color: var(--text-color);
}

.footer {
  padding: 0 15px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: var(--light-green);
}

.info-user {
  display: none;
  line-height: 15px;
  color: var(--text-color);
}

.info-user p:first-child {
  font-size: .9rem;
}

.info-user p:last-child {
  font-size: .7rem;
}

.info-user img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: -3px 0;
  border-radius: 12px;
}

.texto-user {
  min-width: 100%;
}

main {
  padding: 20px;
  width: 100%;
  background-color: var(--light-grey);
}

main h1 {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 500;
}

.add-nav {
  width: 22vw;
  overflow-x:hidden;
  overflow-y:auto;
  transition: all ease 0.5s;
}

.add-block {
  display: block;
}

.add-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.padding {
  padding: 0 15px 0 15px;
}